<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Red Wine API</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>
    <body>
        <h1>Red Wine API</h1>
        <h4>Welcome to ML Red Wine API</h4>

        <form action="/api" method="POST">

            <label for="fa">fixed acidity:</label><br>
            <input type="text" id="fa" name="fa"><br>
            <label for="va">volatile acidity:</label><br>
            <input type="text" id="va" name="va"><br>
            <label for="ca">citric acid:</label><br>
            <input type="text" id="ca" name="ca"><br>
            <label for="rs">residual sugar:</label><br>
            <input type="text" id="rs" name="rs"><br>
            <label for="ch">chlorides:</label><br>
            <input type="text" id="ch" name="ch"><br>
            <label for="fs">free sulfur dioxide:</label><br>
            <input type="text" id="fs" name="fs"><br>
            <label for="ts">total sulfur dioxide:</label><br>
            <input type="text" id="ts" name="ts"><br>
            <label for="ds">density:</label><br>
            <input type="text" id="ds" name="ds"><br>
            <label for="ph">pH:</label><br>
            <input type="text" id="ph" name="ph"><br>
            <label for="su">sulphates:</label><br>
            <input type="text" id="su" name="su"><br>
            <label for="al">alcohol:</label><br>
            <input type="text" id="al" name="al"><br>
            <input type="submit" value="Submit">
          </form>
    </body>
</html>